fastapi
uvicorn
sqlalchemy
pydantic
email-validator
passlib==1.7.4
bcrypt==3.2.2
python-multipart
python-oracledb
python-jose[cryptography]
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
